Repository foolish-pine/static-site-boilerplate-vite: changes, and which lefthook commands are due for each by the changed paths.
All: 1_eslint, 2_stylelint, 3_prettier

lefthook.yml:

pre-commit:
  piped: true
  commands:
    1_eslint:
      glob: "*.js"
      run: npx eslint --fix --quiet {staged_files}
    2_stylelint:
      glob: "*.{css,scss}"
      run: npx stylelint --fix --quiet {staged_files}
    3_prettier:
      glob: "*.{js,css,scss,html,json,jsonc,yml}"
      run: npx prettier --write --log-level=error {staged_files}

chore: update dependencies
  package-lock.json
  package.json
Due: 3_prettier

chore: add renovate
  renovate.json
Due: 3_prettier

chore: add github actions workflow
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: 3_prettier

chore: tweka renovate setting
  renovate.json
Due: 3_prettier

chore: rename
  .github/workflows/verify.yml
Due: 3_prettier

chore: tweak format config
  .vscode/settings.json
  lefthook.yml
Due: 3_prettier

refactor: tweak hover
  src/styles/global/_mediaquery.scss
Due: 2_stylelint, 3_prettier

refactor: tweak line break
  src/styles/_base.scss
Due: 2_stylelint, 3_prettier

feat: reset dialog default style
  src/styles/_base.scss
Due: 2_stylelint, 3_prettier

feat: add style for prefers-reduced-motion mode
  src/styles/_base.scss
Due: 2_stylelint, 3_prettier

chore: tweak lint setting
  .prettierignore
  package.json
Due: 3_prettier

refactor: extract style for a11y
  src/styles/_a11y.scss
  src/styles/_base.scss
  src/styles/pages/about/style.scss
  src/styles/pages/top/style.scss
Due: 2_stylelint, 3_prettier

chore: update editorconfig setting
  .editorconfig
Due: none

chore: update editorconfig setting (#111)
  .editorconfig
Due: none

style: format files
  .stylelintrc.cjs
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package.json
  postcss.config.cjs
  renovate.json
  src/about.html
  src/html-components/head.html
  src/index.html
  src/js/components/hello.js
  src/metadata.json
  src/styles/_a11y.scss
  src/styles/_base.scss
  src/styles/_helpers.scss
  src/styles/common-blocks/_c-header.scss
  src/styles/global/_functions.scss
  src/styles/global/_mediaquery.scss
  src/styles/global/_variables.scss
  src/styles/pages/about/blocks/_test-style.scss
  src/styles/pages/top/blocks/_top-sample-block.scss
  vite.config.js
Due: 1_eslint, 2_stylelint, 3_prettier

style: format files (#112)
  .stylelintrc.cjs
  .vscode/extensions.json
  .vscode/settings.json
  eslint.config.js
  package.json
  postcss.config.cjs
  renovate.json
  src/about.html
  src/html-components/head.html
  src/index.html
  src/js/components/hello.js
  src/metadata.json
  src/styles/_a11y.scss
  src/styles/_base.scss
  src/styles/_helpers.scss
  src/styles/common-blocks/_c-header.scss
  src/styles/global/_functions.scss
  src/styles/global/_mediaquery.scss
  src/styles/global/_variables.scss
  src/styles/pages/about/blocks/_test-style.scss
  src/styles/pages/top/blocks/_top-sample-block.scss
  vite.config.js
Due: 1_eslint, 2_stylelint, 3_prettier

chore: update npm scripts
  package.json
Due: 3_prettier

chore: update npm scripts (#113)
  package.json
Due: 3_prettier

chore: simplify vite settings
  package-lock.json
  package.json
  src/index.html
  src/styles/global/_mediaquery.scss
  vite.config.js
Due: 1_eslint, 2_stylelint, 3_prettier

chore: simplify vite settings (#114)
  package-lock.json
  package.json
  src/index.html
  src/styles/global/_mediaquery.scss
  vite.config.js
Due: 1_eslint, 2_stylelint, 3_prettier

chore: update settings.json
  .vscode/settings.json
Due: 3_prettier

chore: update settings.json (#115)
  .vscode/settings.json
Due: 3_prettier

chore: tweak lefthook setting
  lefthook.yml
Due: 3_prettier

docs: update readme
  README.md
Due: none

chore: remove redundant
  .vscode/settings.json
Due: 3_prettier

chore: remove redundant (#178)
  .vscode/settings.json
Due: 3_prettier

chore: rename
  stylelint.config.cjs
Due: none

chore: reinstall packages
  package-lock.json
Due: 3_prettier

fix: lint error
  src/styles/global/_mediaquery.scss
Due: 2_stylelint, 3_prettier

chore: tweak stylelint settings (#179)
  package-lock.json
  src/styles/global/_mediaquery.scss
  stylelint.config.cjs
Due: 2_stylelint, 3_prettier

fix: output dir
  src/js/pages/about/index.js
  src/js/pages/top/index.js
  src/styles/_a11y.scss
  src/styles/_base.scss
  src/styles/_helpers.scss
  src/styles/common-blocks/_index.scss
  src/styles/global/_index.scss
  src/styles/pages/about/blocks/_index.scss
  src/styles/pages/about/blocks/_test-style.scss
  src/styles/pages/about/style.scss
  src/styles/pages/top/blocks/_index.scss
  src/styles/pages/top/blocks/_top-sample-block.scss
  src/styles/pages/top/style.scss
  vite.config.js
Due: 1_eslint, 2_stylelint, 3_prettier

fix: output dir (#182)
  src/js/pages/about/index.js
  src/js/pages/top/index.js
  src/styles/_a11y.scss
  src/styles/_base.scss
  src/styles/_helpers.scss
  src/styles/common-blocks/_index.scss
  src/styles/global/_index.scss
  src/styles/pages/about/blocks/_index.scss
  src/styles/pages/about/blocks/_test-style.scss
  src/styles/pages/about/style.scss
  src/styles/pages/top/blocks/_index.scss
  src/styles/pages/top/blocks/_top-sample-block.scss
  src/styles/pages/top/style.scss
  vite.config.js
Due: 1_eslint, 2_stylelint, 3_prettier

refactor: remove scss
  .vscode/settings.json
  lefthook.yml
  package-lock.json
  package.json
  src/js/pages/about/index.js
  src/js/pages/top/index.js
  src/styles/a11y.css
  src/styles/base.css
  src/styles/common-blocks/_index.scss
  src/styles/common-blocks/c-header.css
  src/styles/common-blocks/index.css
  src/styles/global/_functions.scss
  src/styles/global/_index.scss
  src/styles/global/_mediaquery.scss
  src/styles/global/_variables.scss
  src/styles/helpers.css
  src/styles/pages/about/blocks/_index.scss
  src/styles/pages/about/blocks/_test-style.scss
  src/styles/pages/about/blocks/index.css
  src/styles/pages/about/blocks/test-style.css
  src/styles/pages/about/style.css
  src/styles/pages/about/style.scss
  src/styles/pages/top/blocks/_index.scss
  src/styles/pages/top/blocks/_top-sample-block.scss
  src/styles/pages/top/blocks/index.css
  src/styles/pages/top/blocks/top-sample-block.css
  src/styles/pages/top/style.css
  src/styles/pages/top/style.scss
  stylelint.config.cjs
Due: 1_eslint, 2_stylelint, 3_prettier

refactor: simplify
  package-lock.json
  package.json
  src/about.html
  src/html-components/head.html
  src/index.html
  src/js/pages/about/index.js
  src/js/pages/top/index.js
  src/metadata.json
  src/styles/pages/about/style.css
  src/styles/pages/top/style.css
  vite.config.js
Due: 1_eslint, 2_stylelint, 3_prettier

refactor: merge a11y.css
  src/styles/a11y.css
  src/styles/base.css
  src/styles/pages/about/style.css
  src/styles/pages/top/style.css
Due: 2_stylelint, 3_prettier

refactor: rename
  src/styles/base.css
Due: 2_stylelint, 3_prettier

refactor: rename class
  src/styles/helpers.css
Due: 2_stylelint, 3_prettier

refactor: merge actions
  .github/workflows/build.yml
  .github/workflows/ci.yml
Due: 3_prettier

chore: rename
  src/styles/base.css
Due: 2_stylelint, 3_prettier

chore: update renovate setting
  renovate.json
Due: 3_prettier
